body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
  margin: 20px 0;
  /* Alinea el título en la mitad vertical */
}

#formulario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  min-width: 400px;
  height: auto;
  resize: vertical;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

.opciones-Administrativas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

header {
  width: 100%;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  display: block;
  width: 200px;
  /* Ajusta el ancho según tus necesidades */
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left;
  /* Alinea el texto a la izquierda */
}

nav ul li a:hover {
  background-color: #2980b9;
}

#Volver {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#Volver:hover {
  background-color: #c0392b;
}

#nombreApp {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}